@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

$cor-principal:#111111;
$cor-texto:#333333;
$cor-secundaria:#ffffff;
$cor-hover:#5e5e5e;
$cor-linha:#EEEEEE;
$cor-texto-destaques:#757575;
$cor-input: #757575;
$cor-input-texto: #5e5e5e;
$cor-butao: #333333;

$fonte-extra-pequena:0.8rem;
$fonte-pequena:1rem;
$fonte-media:1.5rem;
$fonte-grande:3rem;
$fonte-gigante:5rem;

$fonte-principal:'Plus Jakarta Sans', sans-serif;