@import 'variaveis';
@import 'mixins';

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4em 0 0 0;

    .sobre__texto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        width: 45%;

        .sobre__texto__titulo {
            @include texto-destaque (4.5em, $cor-texto);
            margin: 0 0 0.7em 0;
        }

        .sobre__texto__subtitulo {
            @include texto-normal ($fonte-media, $cor-texto);
            margin: 0 0 0.7em 0;
        }

        .sobre__texto__conteudo {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 30px;
            text-align: end;
        }
    }

    .sobre__img {
        width: 45%;
        margin: 0 2em 0 0;

        img {
            width: 100%;
        }
    
    }
}

//ESTILIZAÇÃO DO COMPONENTE PARA A DIREITA

.sobre__direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4em 0 0 0;

    .sobre__texto__direita {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 45%;

        .sobre__texto__titulo__direita {
            @include texto-destaque (4.5em, $cor-texto);
            margin: 0 0 0.7rem 0;
        }

        .sobre__texto__subtitulo__direita {
            @include texto-normal ($fonte-media, $cor-texto);
            margin: 0 0 0.7em 0;
        }

        .sobre__texto__conteudo__direita {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 30px;
            text-align: start;
        }
    }

    .sobre__img__direita {
        width: 45%;
        margin: 0 0 0 2em;

        img {
            width: 100%;
        }
    
    }
}