@import 'variaveis';
@import 'mixins';

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 4em 0 2em 0;

    .sobre__texto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        width: 45%;

        .sobre__texto__titulo {
            @include texto-destaque (4.5em, $cor-texto);
            margin: 0 0 0.3em 0;
        }

        .sobre__texto__subtitulo {
            @include texto-normal ($fonte-media, $cor-texto);
            margin: 0 0 0.7em 0;
        }

        .sobre__texto__conteudo {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 30px;
            text-align: end;
        }

        .lista {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 35px;
            text-align: end;

            li {
                
            }

        }
    }

    .sobre__img {
        width: 45%;
        margin: 0 2em 0 0;

        img {
            width: 100%;
        }
    
    }
}

//ESTILIZAÇÃO DO COMPONENTE PARA A DIREITA

.sobre__direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 4em 0 2em 0;

    

    .sobre__texto__direita {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 45%;

        .sobre__texto__titulo__direita {
            @include texto-destaque (4.5em, $cor-texto);
            margin: 0 0 0.3em 0;
        }

        .sobre__texto__subtitulo__direita {
            @include texto-normal ($fonte-media, $cor-texto);
            margin: 0 0 0.7em 0;
        }

        .sobre__texto__conteudo__direita {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 30px;
            text-align: start;
        }
    }

    .sobre__img__direita {
        width: 45%;
        margin: 0 0 0 2em;

        img {
            width: 100%;
        }
    
    }
}

.destaque {

    @include container (80%, row);
    margin: 10rem 0 5rem 0;

    .destaque__texto{
        @include texto-destaque (3rem, $cor-texto);
    }

    .destaque__imagem {

    }
}

.imagem__centro {

    @include container (80%, row);
    margin: 5rem 0 4rem 0;
    justify-content: space-between;

    .imagem__centro__texto {
        @include texto-normal ($fonte-media - 0.5rem, $cor-texto);
        line-height: 30px;
        text-align: center;
        width: 30%;

        strong {
            font-weight: 800;
        }
    }

    .imagem__centro__imagem {

    }
}

.imagem__abaixo {

    @include container (80%, column);
    margin: 4rem 0 4rem 0;
    justify-content: space-between;
    height: 45rem;

    .imagem__abaixo__texto {
        @include texto-destaque (3rem, $cor-texto);
        width: 80%;
        text-align: center;
    }

    .imagem__abaixo__imagem {
        width: 25rem;
        
    }

}

.textoImagemBotao {

    @include container (80%, column);
    height: 22rem;
    justify-content: space-between;
    margin: 6rem 0 5rem 0;


    .textoImagemBotao__imagemTexto {

        @include container (75%, row);
        justify-content: space-between;


        .textoImagemBotao__textos {

            @include container (50%, column);
            text-align: center;


            .textoImagemBotao__texto1 {

                @include texto-normal ($fonte-pequena + 0.2rem, $cor-texto);

            }

            .textoImagemBotao__texto2 {

                @include texto-destaque ($fonte-media, $cor-texto);
                text-transform: uppercase;


            }
        }

        .textoImagemBotao__imagem {

            width: 40%;

        }
    }

    .textoImagemBotao__botao {

        border-radius: 5px;
        background-color: $cor-butao;
        color: $cor-secundaria;
        border: none;
        cursor: pointer;
        width: 13rem;
        height: 4rem;
        font-size: 1.2rem;

        &:hover {
            background-color: $cor-hover;
        }
    }

}

.lista {

    @include container (100%, row);
    margin: 5rem 0 5rem 0;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #fdbc15;


    .lista__img {
        
        display: none;

        img {
            width: 10rem;
            height: auto;
        }
       
    }

    .lista__texto {

        @include container (60%, column);
        align-items: start;

        .lista__texto__titulo {
            @include texto-destaque ($fonte-grande, $cor-texto);
            margin: 0 0 1rem 0;
            font-weight: 300;
        }

        .lista__texto__itens {

            @include container (100%, column);
            align-items: start;
            @include texto-normal ($fonte-pequena, $cor-texto);

            .item {

                margin: 0.3rem 0 0.3rem 0;

                .item__img {
                    width: 1rem;
                }

                strong {
                    font-weight: 700;
                }
            }
        }
    }
}

//MEDIA QUERIES

@media (max-width: 412px) {

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 0 5rem 0;
    
        .sobre__texto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 90%;
    
            .sobre__texto__titulo {
                @include texto-destaque (3rem, $cor-texto);
                margin: 0 0 1rem 0;
            }
    
            .sobre__texto__subtitulo {
                @include texto-normal ($fonte-media, $cor-texto);
                margin: 0 0 1rem 0;
            }
    
            .sobre__texto__conteudo {
                @include texto-normal ($fonte-pequena, $cor-texto);
                line-height: 30px;
                text-align: start;
            }

            .lista {
                @include texto-normal ($fonte-pequena, $cor-texto);
                line-height: 30px;
                text-align: center;
                align-self: center;
                justify-self: center;
            }

        }
    
        .sobre__img {
            width: 90%;
            margin: 2rem 0 0 0;
    
            img {
                width: 100%;
            }
        
        }


    }

    
    
    //ESTILIZAÇÃO DO COMPONENTE PARA A DIREITA
    
    .sobre__direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 0 5rem 0;
    
        .sobre__texto__direita {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 90%;
    
            .sobre__texto__titulo__direita {
                @include texto-destaque (3rem, $cor-texto);
                margin: 0 0 1rem 0;
            }
    
            .sobre__texto__subtitulo__direita {
                @include texto-normal ($fonte-media, $cor-texto);
                margin: 0 0 1rem 0;
            }
    
            .sobre__texto__conteudo__direita {
                @include texto-normal ($fonte-pequena, $cor-texto);
                line-height: 30px;
                text-align: start;
            }

        }
    
        .sobre__img__direita {
            width: 90%;
            margin: 2rem 0 0 0;
    
            img {
                width: 100%;
            }
        
        }


    }

    .destaque {

        @include container (90%, column);
        margin: 3rem 0 2rem 0;
    
        .destaque__texto{
            @include texto-destaque (1.2rem, $cor-texto);
	    text-align: center;
        }
    
        .destaque__imagem {
            width: 12rem;
            align-self: center;
	    margin-top: 1.5rem;
        }
    }
    
    .imagem__centro {
    
        @include container (90%, column);
        margin: 5rem 0 4rem 0;
        justify-content: space-between;
    
        .imagem__centro__texto {
            @include texto-normal ($fonte-pequena, $cor-texto);
            line-height: 20px;
            text-align: center;
            width: 100%;
    
            strong {
                font-weight: 800;
            }
        }
    
        .imagem__centro__imagem {
            width: 15rem;
        }
    }
    
    .imagem__abaixo {
    
        @include container (80%, column);
        margin: 4rem 0 4rem 0;
        justify-content: space-between;
        height: 27rem;
    
        .imagem__abaixo__texto {
            @include texto-destaque (1.3rem, $cor-texto);
            width: 80%;
            text-align: center;
        }
    
        .imagem__abaixo__imagem {
            width: 15rem;
            
        }
    
    }
    
    .textoImagemBotao {
    
        @include container (90%, column);
        height: 23rem;
        justify-content: space-between;
        margin: 3rem 0 2rem 0;
    
    
        .textoImagemBotao__imagemTexto {
    
            @include container (100%, column);
            justify-content: space-between;
    
    
            .textoImagemBotao__textos {
    
                @include container (100%, column);
                text-align: center;
    
    
                .textoImagemBotao__texto1 {
    
                    @include texto-normal ($fonte-pequena, $cor-texto);
    
                }
    
                .textoImagemBotao__texto2 {
    
                    @include texto-destaque ($fonte-media - 0.5rem, $cor-texto);
                    text-transform: uppercase;
    
    
                }
            }
    
            .textoImagemBotao__imagem {
    
                width: 70%;
		margin-top: 2rem;
    
            }
        }
    
        .textoImagemBotao__botao {
    
            border-radius: 5px;
            background-color: $cor-butao;
            color: $cor-secundaria;
            border: none;
            cursor: pointer;
            width: 7rem;
            height: 2rem;
            font-size: 0.5rem;
    
            &:hover {
                background-color: $cor-hover;
            }
        }
    
    }

    .lista {

        @include container (100%, row);
        margin: 1rem 0 1rem 0;
        padding: 2rem 0 2rem 0;
        justify-content: center;
        align-items: center;
        background-color: #fdbc15;
    
    
        .lista__img {
            
            display: none;
    
            img {
                width: 10rem;
                height: auto;
            }
           
        }
    
        .lista__texto {
    
            @include container (80%, column);
            align-items: start;
    
            .lista__texto__titulo {
                @include texto-destaque ($fonte-grande, $cor-texto);
                margin: 0 0 1rem 0;
                font-weight: 300;
            }
    
            .lista__texto__itens {
    
                @include container (100%, column);
                align-items: start;
                @include texto-normal ($fonte-pequena, $cor-texto);
    
                .item {
    
                    margin: 0.3rem 0 0.3rem 0;
    
                    .item__img {
                        width: 1rem;
                    }
    
                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    
    


}
