@import 'variaveis';
@import 'mixins';

.card {
    @include card (20rem);
   

    .card_img {
        width: 100%;
         
    }

    .card_titulo {
        @include texto-normal ($fonte-pequena, $cor-texto);
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .card_descricao {
        @include texto-normal ($fonte-extra-pequena, $cor-texto);
        margin: 0 0.5rem 0.5rem 0.5rem;
        line-height: 1rem;
    }



}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

@media (max-width: 412px) {
    
    .card {
        @include card (20rem);
        // margin: 0 0 2rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    
        .card_img {
            width: 100%;
             
        }
    
        .card_titulo {
            @include texto-normal ($fonte-pequena, $cor-texto);
            margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        }
    
        .card_descricao {
            @include texto-normal ($fonte-extra-pequena, $cor-texto);
            margin: 0 0.5rem 0.5rem 0.5rem;
            line-height: 1rem;
        }
    
    }

    .card:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }

}