@import 'variaveis';
@import 'mixins';

.corpo {
    display: flex;
    flex-direction: column;
    align-items: justify;
    width: 80%;
    margin: 2rem;

    .titulo {
        @include texto-normal (3rem, $cor-texto);
        margin: 0 0 0.3em 0;
    }
    
    .texto {
        @include texto-normal ($fonte-media - 0.2rem, $cor-texto);
        line-height: 30px;
        font-weight: 300;
    }

}

@media (max-width: 412px) {

    .corpo {
        width: 85%;

        .titulo {
           font-size: 2.5rem;
        }

        .texto {
            font-size: $fonte-pequena;
        }
    }
}

