@import 'variaveis';
@import 'mixins';

.body {
    background-color: $cor-secundaria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    


    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $cor-principal;

        .container {

            display: flex;
            flex-direction: row;
            align-items: space-between;
            justify-content: space-between;
            justify-self: center;
            width: 90%;
            margin: auto auto;
            padding: 0.5em 0 0.5em 0;
            
            img {
                width: 5rem;
                


            }
        
            .menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                /* width: 20em; */
                
                
                .lista_menu {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    
                    
                    .item_menu {
                        list-style: none;
                        margin-left: 2rem;
        
                        :hover {
                            color: $cor-hover;
                        }
                        
        
                        a {
                            text-decoration: none;
                            @include texto-normal ($fonte-pequena, $cor-secundaria); 
        
                            :hover {
                                color: $cor-texto;
                            }
        
                        }
        
                    }
        
                }
            }

        }
    
    } 

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        background-color: $cor-secundaria;
        box-shadow: 0 -5px 0 -2px rgba(0, 0, 0, 0.1);

        .container {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin: auto auto;


            .assinatura {
                @include texto-normal ($fonte-extra-pequena, $cor-texto-destaques);
                word-spacing: 2px;
                width: 15em;
            }

            .contato {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 30em;

                .item_contato {
                    list-style: none;

                    :hover {
                        color: $cor-hover;
                    }

                    a {
                        text-decoration: none;
                        @include texto-normal ($fonte-extra-pequena, $cor-texto);
                    }
                }
            }

        }

    }

}