@import 'variaveis';
@import 'mixins';


.hamburgerMenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  // background-color: $cor-principal;
}

.hamburgerButon {
  position: absolute;
  width: 2.7em;
  height: 3em;
  right: 1em;
  top: 0.7em;
  background-color: $cor-principal;
  
  border: none; 
  outline: none; 
 
  
  cursor: pointer;
  
}

.icon,
.iconOpen {
  // Define default styles for the icon lines
  display: block;
  height: 2px;
  background-image: url("/site-vira/public/hamburger_menu.svg");
  background-size: cover;
  color: $cor-principal;
  background-color: $cor-secundaria;
  margin: 7px 0;
  transition: transform 0.3s ease;
  transform: scale(1.3);
}

.iconOpen {
  // Define styles for the icon lines when the menu is open
  transform: rotate(45deg); // Example transformation
  // Add additional transformations and styles
}

.menu,
.menuOpen {
  // Define default styles for the menu
  display: none;
  // Add additional styling for the menu
}

.menuOpen {
  // Define styles for the menu when it is open
  position: absolute;
  top: 4em;
  
  background-color: $cor-principal;
  color : $cor-secundaria;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  a {
    
    @include texto-normal ($fonte-media, $cor-secundaria);
    text-decoration: none;
    margin: 1em 0 1em 0;
  }

  // Add additional styling for the menu when it's open
}

// Add responsive or specific styles as needed
