@import 'variaveis';
@import 'mixins';

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.portifolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 60em;
    margin: 2em 0 0 0;
    flex-wrap: wrap;
}

@media (max-width: 414px) {

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 3rem 0 0 0;
    }
    
    .portifolio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        height: 150rem;
        flex-wrap: wrap;
    }


}