@import 'variaveis';
@import 'mixins';

.rede {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 13em;

    .rede__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }


    .rede__img{
        width: 4em;
    }

    .rede__texto{
        @include texto-normal ($fonte-pequena + 0.5rem, $cor-texto);
        margin-left: 0.5em;
        font-weight: 600;


    }
}