@import 'variaveis';
@import 'mixins';

.container__contato {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 5rem;

    .container__redes {

        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 50%;

        .container__redes__texto {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;


            .container__redes__texto__titulo {
                @include texto-destaque ($fonte-gigante, $cor-texto);
                margin: 0 0 0.5rem 0;
            
            }


            .container__redes__texto__descricao {
                @include texto-normal ($fonte-media, $cor-texto);

            }

        }

        .container__redes__social {

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: start;
            justify-content: stretch;
            width: 100%;
            height: 15em;
            margin-top: 3em;


        }
    }

    .logo {
        align-self: center;
        justify-self: center;
        align-self: start;
        width: 40%;
        
    }
}

@media (max-width: 412px) {
    .container__contato {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-top: 3rem;
    
        .container__redes {
    
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 100%;
    
            .container__redes__texto {
    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
    
    
                .container__redes__texto__titulo {
                    @include texto-destaque (4rem, $cor-texto);
                    margin: 0 0 1rem 0;
                
                }
    
    
                .container__redes__texto__descricao {
                    @include texto-normal ($fonte-media, $cor-texto);
    
                }
    
            }
    
            .container__redes__social {
    
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: stretch;
                width: 100%;
                height: 5rem;
                margin-top: 1em;
                margin-bottom: 1rem;
    
    
            }
        }
    
        .logo {
            align-self: center;
            justify-self: center;
            width: 100%;
            margin-top: 2rem;
            
        }
    }
}