@import 'variaveis';
@import 'mixins';


.containerTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 15em;


  .textoMark {
    
    @include texto-destaque ($fonte-gigante, $cor-texto);
    transition: opacity 1.5s ease;
    
  }

  .textoDev {

    @include texto-destaque ($fonte-gigante, $cor-texto);
    transition: opacity 1.5s ease;
    
  }

}

.faceContainer {
  position: relative;
    width: 50%; /* Defina para a largura desejada */
    height: 30em; /* Defina para a altura desejada */
  }

  .faceImage {
    position: absolute;
    top: 15em;
    left: 30%;
    width: 37em;
    height: auto;
    object-fit: cover;
    transition: clip-path 1s ease, left 3s ease;
    transform: translate(-50%, -50%)
    
  }

  .faceImage2 {
    position: absolute;
    top: 15em;
    left: 30%;
    width: 40em;
    height: auto;
    object-fit: cover;
    transition: clip-path 1s ease, left 3s ease;
    transform: translate(-48%, -50%)
  }


@media (max-width: 412px) {

    .containerTexto {
      display: none;
      
      
    }

    .faceContainer {
      display: none;
    }

}