.faceContainer {
  position: relative;
    width: 50%; /* Defina para a largura desejada */
    height: 30em; /* Defina para a altura desejada */
  }
  
  .faceImage {
    position: absolute;
    top: 15em;
    left: 30%;
    width: 37em;
    height: auto;
    object-fit: cover;
    transition: clip-path 1s ease, left 3s ease;
    transform: translate(-50%, -50%)
    
  }

  .faceImage2 {
    position: absolute;
    top: 15em;
    left: 30%;
    width: 40em;
    height: auto;
    object-fit: cover;
    transition: clip-path 1s ease, left 3s ease;
    transform: translate(-48%, -50%)
  }